#  Instagram Likes Report
## Cecilia Pisano
### 9/10/25

#### Instagram created my data based on my activity of what posts i've liked, I created the data but instagram was the source of me getting my data (liking posts)

###  This data was created to understand an alorgirthm in posts i've liked
Purposes this data can serve are to understand what types of posts I like more than the other posts i've liked (general idea of posts)

in what ways may this data be reliable?
In what ways may this data be unreliable?

##  section 1
## these are the import functions

In [1]:
import json
import pandas as pd
import matplotlib as plt

## section 2
## these are loading functions for the likes

In [2]:
path = r"/Users/ceciliapisano/Downloads/instagram-cece.pisano-2025-08-25-UMGrkIl3/your_instagram_activity/likes/liked_posts.json"
with open(path) as l:
    dict = json.load(l)

## section 3
## covert data into data frame object and assign it to a new variable using pandas dataframe function

In [3]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'ksuphimu', 'string_list_data': [{'h...
1  {'title': 'ellas.photo.diary', 'string_list_da...
2  {'title': 'rach_czap', 'string_list_data': [{'...
3  {'title': 'maddietakesflixs', 'string_list_dat...
4  {'title': 'ellabellesstyle', 'string_list_data...

In [4]:
dict.keys()

dict_keys(['likes_media_likes'])

In [5]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

               title                                   string_list_data
0           ksuphimu  [{'href': 'https://www.instagram.com/p/DNyQ6sQ...
1  ellas.photo.diary  [{'href': 'https://www.instagram.com/p/DNwGO08...
2          rach_czap  [{'href': 'https://www.instagram.com/p/DNtDzHY...
3   maddietakesflixs  [{'href': 'https://www.instagram.com/p/DNs7qUq...
4    ellabellesstyle  [{'href': 'https://www.instagram.com/p/DNqbDJc...

## section 4

In [6]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNyQ6sQ4hN-/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1756144103}]

In [7]:
type (df_tidy['string_list_data'].iloc[0])

list

In [8]:
len(df_tidy['string_list_data'].iloc[0])

1

In [9]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DNyQ6sQ4hN-/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1756144103}

In [10]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756144103

In [11]:
df_tidy['Time of Like'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like
0,ksuphimu,[{'href': 'https://www.instagram.com/p/DNyQ6sQ...,1756144103
1,ellas.photo.diary,[{'href': 'https://www.instagram.com/p/DNwGO08...,1756070934
2,rach_czap,[{'href': 'https://www.instagram.com/p/DNtDzHY...,1755967367
3,maddietakesflixs,[{'href': 'https://www.instagram.com/p/DNs7qUq...,1755965810
4,ellabellesstyle,[{'href': 'https://www.instagram.com/p/DNqbDJc...,1755897259

In [12]:
from datetime import datetime
df_tidy['Date of Like'] = [ datetime.fromtimestamp (i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [13]:
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,ksuphimu,[{'href': 'https://www.instagram.com/p/DNyQ6sQ...,1756144103,2025-08-25 13:48:23,https://www.instagram.com/p/DNyQ6sQ4hN-/
1,ellas.photo.diary,[{'href': 'https://www.instagram.com/p/DNwGO08...,1756070934,2025-08-24 17:28:54,https://www.instagram.com/p/DNwGO085L4w/
2,rach_czap,[{'href': 'https://www.instagram.com/p/DNtDzHY...,1755967367,2025-08-23 12:42:47,https://www.instagram.com/p/DNtDzHYWkjp/
3,maddietakesflixs,[{'href': 'https://www.instagram.com/p/DNs7qUq...,1755965810,2025-08-23 12:16:50,https://www.instagram.com/p/DNs7qUqWkDi/
4,ellabellesstyle,[{'href': 'https://www.instagram.com/p/DNqbDJc...,1755897259,2025-08-22 17:14:19,https://www.instagram.com/p/DNqbDJcRyQi/

In [14]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href
0,ksuphimu,1756144103,2025-08-25 13:48:23,https://www.instagram.com/p/DNyQ6sQ4hN-/
1,ellas.photo.diary,1756070934,2025-08-24 17:28:54,https://www.instagram.com/p/DNwGO085L4w/
2,rach_czap,1755967367,2025-08-23 12:42:47,https://www.instagram.com/p/DNtDzHYWkjp/
3,maddietakesflixs,1755965810,2025-08-23 12:16:50,https://www.instagram.com/p/DNs7qUqWkDi/
4,ellabellesstyle,1755897259,2025-08-22 17:14:19,https://www.instagram.com/p/DNqbDJcRyQi/
...,...,...,...,...
5416,haydensummerall,1496543582,2017-06-03 22:33:02,https://www.instagram.com/p/BU3Fp7ellms/
5417,livvpisano,1492813045,2017-04-21 18:17:25,https://www.instagram.com/p/BTKe92_hfoX/
5418,global.papi,1491594050,2017-04-07 15:40:50,https://www.instagram.com/p/BSUp2a1ghZ7/
5419,kendallvertes,1491577980,2017-04-07 11:13:00,https://www.instagram.com/p/BSlkRV1juuQ/
5420,karalynnjoyce,1451325652,2015-12-28 13:00:52,https://www.instagram.com/p/_m_ggtFyk1/

section 5

In [15]:
df_tidy.groupby('title').count().sort_values('Time of Like', ascending = False)

                    string_list_data  Time of Like  Date of Like  href
title
alleycati                         59            59            59    59
evameloche                        58            58            58    58
riotgrrrlboy                      53            53            53    53
archivegalaxy                     48            48            48    48
hazebreyer_                       47            47            47    47
...                              ...           ...           ...   ...
hallowsteen                        1             1             1     1
hamddol                            1             1             1     1
hammymemes_                        1             1             1     1
hamzahthefantastic                 1             1             1     1
zynntopia                          1             1             1     1

[2694 rows x 4 columns]

## section 6

#### A hypothesis using my personal instagram is to see how often I post. This would include the dates/times i've posted over the last year(s) i've had an active post on my account at the time I downloaded my data. How often I post is a good strategy to see when I should or will possibly post next to keep my profile updated and active looking. This is used by celebtrities sometimes too; keeping their profile updated but not leaking personal life activites.

## section 7

#### posts_1.json allows me to see the data of my posts that are currently on my account. it gives the title of the post, the timestamp and the media link for it.

## section 8

In [16]:
path = r"/Users/ceciliapisano/Downloads/instagram-cece.pisano-2025-08-25-UMGrkIl3/your_instagram_activity/media/posts_1.json"
with open(path) as l:
    dict = json.load(l)

## section 9

convert the data to tidy dataframe

In [17]:
df = pd.DataFrame(dict)
df.head()

,media,title,creation_timestamp
0,[{'uri': 'media/posts/202504/491442498_1845831...,weekend pics,1745772412
1,[{'uri': 'media/posts/202410/463069566_3726039...,something new,1728836463

## section 10

DataFrame meets does not the tidy principles because the type is not list its a dict type and I don't know how to change the type to be able to be shown. As the data goes; I don't have many posts on my account but still the timestamp will show when I was active enough to post. While the timestamp is about to be changed (in some way I don't know due to the type), it will create the want of what date I had posted the pictures at and what time exactly on that date.